<div class="bg-dark cfb">
  <div class="container">
    <footer class="d-flex flex-wrap justify-content-between py-4 align-items-center">
      <div class="col-md-4 d-flex align-items-center">
        <a href="/" class="me-2 text-white text-decoration-none lh-1">
          <i class="fab fa-angular fa-lg"></i>
        </a>
        <span class=" text-white">&copy; OscarGX - {{ today | date:'yyyy' }}</span>
      </div>
      <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
        <li class="ms-3"><a class="text-white" href="#"><i class="fab fa-twitter fa-lg"></i></a></li>
        <li class="ms-3"><a class="text-white" href="#"><i class="fab fa-instagram fa-lg"></i></a></li>
        <li class="ms-3"><a class="text-white" href="#"><i class="fab fa-facebook fa-lg"></i></a></li>
      </ul>
    </footer>
  </div>
</div>